{% extends 'base.html.twig' %}

{% block title %}Hello ContactFormController!{% endblock %}

{% block body %}
{{ form_start(contactForm) }}
        {{ form_row(contactForm.firstname) }}
        {{ form_row(contactForm.lastname) }}
        {{ form_row(contactForm.email) }}
        {{ form_row(contactForm.texte) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(contactForm) }}
{% endblock %}
