{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!
{% endblock %}

{% block body %}

    <ul>
        {% for catarticle in catarticles %}
            <h2>
                {{catarticle.name}}
            </h2>
            {# {{dump(catarticles)}} #}
            {% for article in articles %}

                {% if article.category == catarticle %}
                    <li>
                        <br>
                        <h3>{{article.title}}</h3>
                        <img src="assets/uploads/{{article.image}}" width="50px" alt="une image lier à {{article.title}}">
                        {% if article.ispremium == true and app.user.ispremium == false %}
                            Devenez premium pour accéder a cet article
                        {% else %}
                            <a href="{{ path('article', {'slug' : article.slug}) }} ">{{ article.slug }}</a>
                        {% endif %}
                    </li>
                {% endif %}

            {% endfor %}

        {% endfor %}
    </ul>
{% endblock %}