{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!
{% endblock %}

{% block body %}

	<ul>
		{% for article in articles %}
			{# {% if article.category.id == 1 %} #}
				<h2>
					{{article.category.name}}
				</h2>
				<li>
                    <br>
					<h3>{{article.title}}</h3>
					<img src="assets/uploads/{{article.image}}" width="50px">
					{% if article.ispremium == true and app.user.ispremium == false %}
						Devenez premium pour accéder a cet article
					{% else %}
						<a href="{{ path('article', {'slug' : article.slug}) }} ">{{ article.slug }}</a>
					{% endif %}
				</li>
			{# {% else %}
				{{article.category.name}}
				{{article.title}}
			{% endif %} #}
		{% endfor %}

	</ul>
{% endblock %}
