{% extends 'base.html.twig' %}

{% block title %}Hello ProgrammesController!{% endblock %}

{% block body %}

    <ul>
        {% for program in programs %}
            <h2>{{ program.name}}</h2>

            {% for article in articles %}
                {% if article.program == program %}
                    <li>
                        <h3>{{article.title}}</h3>
                        <img src="assets/uploads/{{article.image}}" width="50px" alt="une image lier à {{article.title}}">
                        {% if article.ispremium == true and app.user.ispremium == false %}
                            Devenez premium pour accéder a cet article
                        {% else %}
                            <a href="{{ path('article', {'slug' : article.slug}) }} ">{{ article.slug }}</a>
                        {% endif %}
                    </li>
                {% endif %}

            {% endfor %}

        {% endfor %}

    </ul>
{% endblock %}{% extends 'base.html.twig' %}

{% block title %}Hello ProgrammesController!{% endblock %}
{% block stylesheetsperso %}
    <link href="{{ asset('assets/css/programme.css')  }}" rel="stylesheet">
    <link href="{{ asset('assets/js/splide-3.6.9/dist/css/splide.min.css')  }}" rel="stylesheet">
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %}

  <div class="banniere-programmes-img"></div>
    <div class="intro-programmes">
    <h1>Les programmes proposés par nos coachs</h1>
    <p>
    Trouvez les programmes qui correspondent à vos objectifs! <br/>
    Les coachs vous ont mis à disposition des articles, vidéos et illustrations pour vous accompagner tout au long de votre parcours sportif.
    </p>
</div>
  <section class="carousel">
    <h2>Programme sèche</h2>
    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide"><a href="#"><img src="{{ asset('assets/img/consommermieux.jpg')  }}" alt="panier de legumes" />
              <div class="description-article">
                <p class="title-article">Consommer de manière intelligente</p>
                <p class="description-text">Sit amet consectetur adipisicing elit. Vel sint consequatur aperiam? Libero est commodi autem voluptate, quidem nihil praesentium vero tenetur, magni numquam eaque magnam doloremque repellat consectetur iste.</p>
                <p class="authors">Auteurs</p>
              </div>
            </a></li>
          <li class="splide__slide"><a href="#"><img src="{{ asset('assets/img/muscles.jpg')  }}" alt="muscles corps humain" />
              <div class="description-article">
                <p class="title-article">Se muscler en douceur</p>
                <p class="description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sint consequatur aperiam? Libero est commodi autem voluptate, magni numquam eaque magnam doloremque repellat consectetur iste.</p>
                <p class="authors">Auteurs</p>
              </div>
            </a></li>
          <li class="splide__slide"><a href="#">
              <img src="{{ asset('assets/img/routineseche.jpg')  }}" alt="basketball-court" />
              <div class="description-article">
                <p class="title-article">Routine sèche</p>
                <p class="description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sint consequatur aperiam? Libero est commodi autem voluptate, quidem nihil praesentium vero tenetur, magni numquam eaque magnam doloremque repellat consectetur iste.</p>
                <p class="authors">Auteurs</p>
              </div>
            </a></li>
          <li class="splide__slide"><a href="#">
              <img src="{{ asset('assets/img/sissy.png')  }}" alt="basketball-court" />
              <div class="description-article">
                <p class="title-article">Titre de l'article</p>
                <p class="description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sint consequatur aperiam? Libero est commodi autem voluptate, repellat consectetur iste.</p>
                <p class="authors">Auteurs</p>
              </div>
            </a></li>
        </ul>
      </div>
    </div>
  </section>
   <section class="carousel">
    <h2>Améliorer son cardio</h2>
    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide"><a href="#"><img src="{{ asset('assets/img/course.jpg')  }}" alt="course à pieds" />
              <div class="description-article">
                <p class="title-article">La course à pieds</p>
                <p class="description-text">Sit amet consectetur adipisicing elit. Vel sint consequatur aperiam? Libero est commodi autem voluptate, quidem nihil praesentium vero tenetur, magni numquam eaque magnam doloremque repellat consectetur iste.</p>
                <p class="authors">Auteurs</p>
              </div>
            </a></li>
          <li class="splide__slide"><a href="#"><img src="{{ asset('assets/img/cordeasauter.jpg')  }}" alt="corde à sauter" />
              <div class="description-article">
                <p class="title-article">La corde à sauter</p>
                <p class="description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sint consequatur aperiam? Libero est commodi autem voluptate, magni numquam eaque magnam doloremque repellat consectetur iste.</p>
                <p class="authors">Auteurs</p>
              </div>
            </a></li>
          <li class="splide__slide"><a href="#">
              <img src="{{ asset('assets/img/sissy.png')  }}" alt="basketball-court" />
              <div class="description-article">
                <p class="title-article">Les HIIT</p>
                <p class="description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sint consequatur aperiam? Libero est commodi autem voluptate, quidem nihil praesentium vero tenetur, magni numquam eaque magnam doloremque repellat consectetur iste.</p>
                <p class="authors">Auteurs</p>
              </div>
            </a></li>
          <li class="splide__slide"><a href="#">
              <img src="{{ asset('assets/img/basketball-court-g55e624258_1920.jpg')  }}" alt="basketball-court" />
              <div class="description-article">
                <p class="title-article">Le crossfit</p>
                <p class="description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sint consequatur aperiam? Libero est commodi autem voluptate, repellat consectetur iste.</p>
                <p class="authors">Auteurs</p>
              </div>
            </a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="carousel">
  <h2>Améliorer sa technique sportive</h2>
    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide"><a href="#"><img src="{{ asset('assets/img/BeachVolley.png')  }}" alt="beach-volley" />
              <div class="description-article">
                <p class="title-article">Volleyball : les stratégies</p>
                <p class="description-text">Sit amet consectetur adipisicing elit. Vel sint consequatur aperiam? Libero est commodi autem voluptate, quidem nihil praesentium vero tenetur, magni numquam eaque magnam doloremque repellat consectetur iste.</p>
                <p class="authors">Auteurs</p>
              </div>
            </a></li>
          <li class="splide__slide"><a href="#"><img src="{{ asset('assets/img/juliacha.jpg')  }}" alt="Climb moutain" />
              <div class="description-article">
                <p class="title-article">Grimper en falaise</p>
                <p class="description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sint consequatur aperiam? Libero est commodi autem voluptate, magni numquam eaque magnam doloremque repellat consectetur iste.</p>
                <p class="authors">Auteurs</p>
              </div>
            </a></li>
          <li class="splide__slide"><a href="#">
              <img src="{{ asset('assets/img/basketball-court-g55e624258_1920.jpg')  }}" alt="basketball-court" />
              <div class="description-article">
                <p class="title-article">Basketball: stratégies d'équipe</p>
                <p class="description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sint consequatur aperiam? Libero est commodi autem voluptate, quidem nihil praesentium vero tenetur, magni numquam eaque magnam doloremque repellat consectetur iste.</p>
                <p class="authors">Auteurs</p>
              </div>
            </a></li>
          <li class="splide__slide"><a href="#">
              <img src="{{ asset('assets/img/basketball-court-g55e624258_1920.jpg')  }}" alt="basketball-court" />
              <div class="description-article">
                <p class="title-article">Basketball : le cardio</p>
                <p class="description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sint consequatur aperiam? Libero est commodi autem voluptate, repellat consectetur iste.</p>
                <p class="authors">Auteurs</p>
              </div>
            </a></li>
        </ul>
      </div>
    </div>
  </section>
{% endblock %}

{% block script %}
<script src="{{ asset('assets/js/splide-3.6.9/dist/js/splide.min.js')  }}"></script>
<script src="{{ asset('assets/js/script.js')  }}"></script>
{% endblock %}
