<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link href="{{ asset('assets/css/header.css')  }}" rel="stylesheet">
            <link href="{{ asset('assets/css/footer.css')  }}" rel="stylesheet">
            {% block stylesheetsperso %}{% endblock %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
           <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
        {% block header %}
            <header>
                <div class="nav">
                    <nav>
                        <div class="FeaTips-Logo">
                            <a href="{{ path('home') }}"><img src="{{ asset('assets/img/logotest.JPG')  }}" alt="FeaTips-Logo"/></a>
                        </div>
                        <div class="nav-bar">

                            <div class="container">
                                <div class="lien">
                                    <ul class="first-nav">
                                        <li>
                                            <a href="{{ path('articles') }}">Articles</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('programmes') }}">Programmes</a>
                                        </li>
                                        {% if app.user %}
                                        <li>
                                            <a href="{{ path('forum') }}">Forum</a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                                {% if app.user %}
                                    <div class="mb-3">
                                        bienvenue , 
                                        <a href="{{ path('account') }}"> {{ app.user.username }}</a>
                                        <div class="btn btn-1"><a href="{{ path('app_logout') }}">Logout</a> </div>
                                    </div>

                                {% else %}

                                    <div class="btn-connexion-inscription">
                                        <div class="btn btn-1"><a href="{{ path('app_login') }}"> Se connecter</a></div>
                                        <div class="btn btn-2">
                                            <a href="{{ path('app_register') }}">S'inscrire</a>
                                        </div>

                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            <footer>
                <div class="contenu-footer">

                    <div class="footer-medias">
                        <ul class="liste-medias">
                            <li>
                                <a href="#"><img src="{{ asset('assets/medias/instagram-icon.png')  }}" alt="icones réseaux sociaux"></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset('assets/medias/facebook-icon.png')  }}" alt="icones réseaux sociaux"></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset('assets/medias/youtube-icon.png')  }}" alt="icones réseaux sociaux"></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset('assets/medias/tiktok-icon.png')  }}" alt="icones réseaux sociaux"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="bloc">
                        <div class="footer-services">
                            <span>SERVICES</span>
                            <ul class="liste-services">
                                <li>
                                    <a href="{{ path('articles') }}">Articles</a>
                                </li>
                                <li>
                                    <a href="{{ path('programmes') }}">Programmes</a>
                                </li>
                                {# <li>
                                    <a href="{{ path('coachs') }}">Nos coachs</a>
                                </li> #}
                            </ul>
                        </div>
                        <div class="footer-infos">
                            <span>INFORMATIONS PRATIQUES</span>
                            <ul class="liste-infos">
                                <li>
                                    <a href="{{ path('contact_form') }}">Contact</a>
                                </li>
                                <li>
                                    <a href="{{ path('premium_members') }}">  Devenir membre Premium</a>
                                </li>
                                <li>
                                    <a href="{{ path('become_coach') }}">Devenir coach</a>
                                </li>
                                <li>
                                    <a href="#">Mentions légales</a>
                                </li>
                                <li>
                                    <a href="#">Paiement sécurisé</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </footer>
        {% endblock %}

    </body>
    {% block script %}{% endblock %}
</html>