{% extends 'base.html.twig' %}

{% block title %}Article{# à dynamiter #}{% endblock %}

{% block stylesheetsperso %}
    <link href="{{ asset('assets/css/singleArticle.css')  }}" rel="stylesheet">
{% endblock %}

{% block body %}
 {% if article.ispremium == true and app.user.ispremium == false %}

 cet article est résérvé aux utilisateurs Premium.

 {% else %}
    <main>
        <article>
            <h1>{{article.title }}</h1>
            <img id="madison" src="/assets/uploads/{{ article.image }}" alt=""/>
            <div class="content">
                <p>
                    {{article.content}}
                </p>
                <iframe width="560" height="315" src="{{article.url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
                <section>
                    <div class="">
                        <img src="/assets/uploads/{{ article.user.profilepic }}" alt="coach1"/>
                        <p>Ecris pars {{article.user.firstname}}</p>
                        <!-- Est ce qu'on fait 1 et on apellle ? -->
                        {# <img class="mecmuscle" src="{{ asset('assets/img/coach2.jpg')  }}" alt="coach2"/>
                        <img class="Rugbyman" src="{{ asset('assets/img/coach2.jpg')  }}" alt="coach 3"/> #}
                    </section>
                </div>
            </div>
        </article>
    </main>
    {%  endif %}

{% endblock %}